@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200;300;400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,400&display=swap");

body {
    font-family: "Roboto", sans-serif;
    background-color: #343a40;
}

* {
    margin: 0;
    padding: 10x;
    border: 0;
}

/* ------Nav Bar------ */

.navbar-brand {
    font-family: "Oswald 200", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 280%;
}

.navbar-nav {
    font-family: "Oswald 200", sans-serif;
    text-transform: capitalize;
    color: #f8f9fa;
    font-size: 110%;
    letter-spacing: 1px;
}

#navbar a:hover {
    border-bottom: 1px solid #10cae0;
}

/* ------Hero Image------ */

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/d20.jpg") no-repeat center center;
    object-fit: scale-down;
    background-size: cover;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    position: relative;
}

#hero-outer {
    overflow: hidden;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

#cover-text,
#cover-text h2 {
    color: #f8f9fa;
}

#cover-text {
    font-size: 130%;
    font-family: "Oswald 100", sans-serif;
    letter-spacing: 4px;
    text-transform: capitalize;
    text-align: center;
    border-radius: 25px;
    width: 300px;
    height: 200px;
    top: 40%;
    left: 80%;
    padding: 25px;
    background-color: rgba(16, 203, 224, 0.281);
    bottom: 30px;
    overflow: hidden;
    position: absolute;
}

/* ------Index Page------ */

.history-container {
    margin-top: 50px;
}

.index-heading {
    text-align: center;
    padding: 50px;
}

.index-hq {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 280%;
    text-align: center;
}

.our-history {
    text-align: center;
}

.map-dnd {
    background-repeat: no-repeat;
    padding: 1px;
    width: 300px;
    height: 300px;
    float: center;
    border-radius: 50%;
    border: 5px solid #1794a2;
}

p {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.make-a-wish-img {
    background-repeat: no-repeat;
    margin-left: 10px;
    width: 350px;
    height: 350px;
    float: center;
    border: 10px solid #1794a2;
    margin-bottom: 10px;
}

.support {
    text-align: center;
    margin-bottom: 25px;
    color: #343a40;
}

.support-heading {
    font-family: "Oswald", sans-serif;
}

/* ------Members page ------ */

.meet-us {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 280%;
    text-align: center;
}

.card-img-top {

    width: 50%;
    height: 50%;
    object-fit: cover;
    margin-bottom: 0;

}

.btn-member {
    background-color: #1794a2;
    color: #f8f9fa;
}

.card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.card-deck .card {
    padding-bottom: 50px;
}

/* ------Schedule page ------ */

.whats-on {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 280%;
    text-align: center;
}

.contact-us-heading {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 280%;
    text-align: center;
}

.art-brush {
    width: 40%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
}


/*------ Contact Page ------ */

.contact-form {
    margin: 10px;
    padding-bottom: 20px;
}

/* ------Footer ------ */

.map {
    width: 100%;
    padding-bottom: 0%;
    height: 300px;
    margin-bottom: 0;
}

/* ------Media Queries ------ */