@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,400&display=swap');

body { 
    font-family: Tahoma, Verdana, sans-serif;
    
}

/* ------Nav Bar------ */

nav {
    line-height:75px;
    height: 15vh;
  
    

}

.navbar-brand {
    font-family: "Arvo", serif;
    text-transform:capitalize;
    font-size: 280%;
    letter-spacing: 2px;
    
}

.navbar-nav {
    font-family: "Arvo", serif;
    text-transform: capitalize;
    font-size: 110%;
    letter-spacing: 2px;
    color: aliceblue;
}

#navbar a:hover {
    border-bottom:1px solid #10cae0;
}

/* ------Hero Image------ */

#hero-image {
    height:600px;
    width:100%;
    background:url("../images/dicehero.jpg") no-repeat center center ;  
    
    animation-name: hero-zoom ;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

@keyframes hero-zoom {
    from {
            transform: scale(1);
    }
    to {
            transform: scale(1.1);
    }
}

/* ------Index section one------ */

/* ------Colours------ */


/* ------Footer------ */
footer {
    height:150px;
    padding-top: 10px;

}

.footer-list {
    list-style: none;
    text-align: center;
    line-height: 60px;
    padding-top: 0%;
  
        
}

.footer-list li {
    display: inline;
}

.footer-list i {
    font-size:160% ;
    margin: 1%;
    padding: 5%;
    color: #10cae0;
}

#map {
    width:100%;
    padding-bottom: 0%;
}

.address {
    padding-left: 10px;
}






