@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,400&display=swap');

body {
    font-family: Tahoma, Verdana, sans-serif;

}

/* ------Nav Bar------ */

.navbar-brand {
font-family: "Arvo", serif;
text-transform: capitalize;

}


.navbar-nav {
    font-family: "Arvo", serif;
    text-transform: capitalize;
    color: aliceblue;
}

#navbar a:hover {
    border-bottom: 1px solid #10cae0;
}

/* ------Hero Image------ */

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/d20.jpg") no-repeat center center;
    object-fit: contain;
    background-size: cover;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {

    overflow: hidden;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}



/* ------Footer ------ */

.map {
    width: 100%;
    padding-bottom: 0%;
    height:300px;
    margin-bottom: 0;
}


/* ------Responsive------ */